body {
    padding-top: 20px;
    padding-bottom: 20px;
}

ul
{
    list-style-type: none;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    border: 2px;
    border-color: red;
}

ul {
    padding: 1em;
}

/* If a project is marked completed, cross it out */
li.project.completed>span.projectDesc {
    text-decoration: line-through;
}

a.projectifyButton {
    margin-right: 10px;
}

li.project.hidden {
    display: none;
}

li.project {
    border: 1;
    border-radius: 50px;
    background-color: #EEEEEE;
    margin: 0, 0, 5px, 0;
}

//LEFT OFF HERE!!!!!!!
#project-list-main {
}
