body {
    padding-top: 20px;
    padding-bottom: 20px;
}

ul
{
    list-style-type: none;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    border: 2px;
    border-color: red;
}

ul {
    padding: 1em;
}

/* If a project is marked completed, cross it out */
li.project.completed>span.projectDesc {
    text-decoration: line-through;
}

a.projectifyButton {
    margin-right: 10px;
}

// LEFT OFF HERE!!!
li.project.hidden {
    display: none;
}
